.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.logo{
  width: 10vh;
  height: auto;
}



.navegacion{
  height: 20vh;
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  
}

.nav-link{
  color: white !important
}

.menu{
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
.contenedor{
  text-align: center;
  color:  #182848 !important;
}

