
.container {
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Fira Sans', sans-serif;
  padding-top: 20px;
}

.header {
  padding-top: 20px;
  display: flex;
  height: 20%;
  align-items: center;
  background-color: #cacdd8;
  
 /*  
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); */
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

a{
  border: none;
  text-decoration: none;
}


.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 10px;
  color: #182848 ;
  display: block;
  font-weight: bold;
}
.menu .navbar ul li a:hover {
  color: #0a152f;
}
#menu {
  display: none;
}
.menu-icono {
  width: 35px;
}
.menu label {
  cursor: pointer;
  display: none;
}

.img{
  width: 200px
}

@media (max-width: 851px) {
  .menu label {
    display: initial;
  }
  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    background-color: #cacdd8;
    padding-bottom: 30px;
  }
  .menu .navbar ul li {
    width: 100%;
  }
  #menu:checked ~ .navbar {
    display: initial;
  }
}