     <div class="carbyId">
    <div class="container card">

      <div class="img">
        <img class="img-top" src="../../../../assets/img/spark.png" alt="imagen aleatoria" />
      </div>

      <div class="txt-cont">
        <p class="año">{{carCargado.age}}</p>
        <h1 class="marca">{{carCargado.marca | uppercase}}</h1>
        <h3 class="model">{{carCargado.modelo | uppercase}}</h3>
        <p class="precio">{{carCargado.precio | currency}}</p>
      </div>

      <div class="comprar">

        <div class="data-extra">

          <tr>
            <td class="subtit">Kilometraje</td>
            <td class="val"> {{carCargado.kilometraje}}</td>
          </tr>

          <tr>
            <td class="subtit">Transmisión</td>
            <td class="val">{{carCargado.transmision}}</td>
          </tr>
          
          <p class="subtit">{{carCargado.ciudad }}  <i class="bi bi-pin-map"></i></p>
  

        </div>

        <div class="contacto">

          <h2>Contacta al vendedor ?</h2>
          <form class="row g-3">
            <div class="col-auto">
              <input type="password" class="form-control" id="inputPassword2" placeholder="Tu pregunta.....">
            </div>

            <div class="col-auto">
              <button type="submit" class="btn btn btn-outline-dark mb-3">Preguntar</button>
            </div>
          </form>
        </div>



      </div>
    </div>
 </div>